# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TeamBuilder.iml
# Datasource local storage ignored files
/../../../../../../../:\repos\contests\TeamBuilder\.idea\.idea.TeamBuilder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
