body {
}
.confirmBtn {
	position: absolute;
	bottom: 20px;
	/*left: 50%;
	transform: translateX(-50%);*/
}
.profileBottom {
	position: absolute;
	bottom: 0;
}
.skillsInput {
	/*background: var(--field_background);*/
	background: black;
}
.rbt-input-multi {
	background: var(--field_background) !important;
}