body {
}
.confirmBtn {
	position: absolute;
	bottom: 20px;
	/*left: 50%;
	transform: translateX(-50%);*/
}
.profileBottom {
	position: absolute;
	/*bottom: 48px;*/
}
.skillsInput {
	/*background: var(--field_background);*/
}
.rbt-input-multi {
	background: var(--field_background) !important;
	border-radius: 10px !important;
}
.form-control {
	height: 44px !important;
}
.Cell--ios .Cell__before-in > .Icon {
	padding: 4px 38px 10px 0 !important;
}

.Button + .Button {
	margin-left: 12px;
}